.createAdBackground {
  margin-bottom: 5em;
  height: 7.3em;
  background: linear-gradient(89.86deg, #9572fc, #43e7ad, #e1d55d);
  border-radius: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.createAd {
  background: #2a2634;
  width: 75em;
  height: 7em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createAdText {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 2em;
}

.createAdText h2 {
  font-size: 1.5em;
  font-weight: 900;
  color: #fff;
}

.createAdText h3 {
  color: #a1a1aa;
  font-weight: 600;
  font-size: 1em;
}

.createAdButton {
  margin: 2em;
  padding: 1.8em 2em;
  height: 3em;
  display: flex;
  border: none;
  align-items: center;
  gap: 0.2em;
  border-radius: 1em;
  background: #8b5cf6;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.createAdButton:hover {
  background: #6f49c6;
  transition: 0.3s;
}

.createAdButton span {
  font-size: 1.2em;
}

/* Modal Configs */

.modalCreateAd {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5em;
  align-items: flex-start;
  gap: 2em;
}

.modalCreateAd h1 {
  color: #fff;
  font-weight: 900;
}

.modalCreateAd input,
select {
  background: #2a2634;
  border: none;
  padding: 1em 0.8em;
  border-radius: 0.5em;
}

.modalCreateAd label {
  color: #fff;
  font-weight: 600;
}

.modalCreateAd option {
  color: #fff;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.inputDivColum {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.inputDivRow {
  display: flex;
  justify-content: space-between;
  gap: 0.7em;
}

select:focus {
}

.buttons {
  display: flex;
  position: fixed;
  gap: 1em;
  bottom: 3em;
  right: 3em;
}

.buttons button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
}

.buttonClose {
  background: #71717a;
}

.buttonClose:hover {
  background: #5b5b62;
}

.buttonSend {
  background: #8b5cf6;
}

.buttonSend:hover {
  background: #6f49c6;
}
