.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin: 5em 0;
}

.App h1 {
  color: #fff;
  font-weight: 900;
  font-size: 3em;
}

.App h1 span {
  font-weight: 900;
  background: linear-gradient(89.86deg, #9572fc, #43e7ad, #e1d55d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gameBanners {
  width: 75em;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: 4em 0 3em 0;
  display: flex;
  gap: 1.5em;
}

.gameBanners::-webkit-scrollbar {
  display: none;
}

.scrollButtons {
  display: flex;
  align-items: center;
  gap: 3em;
}

.scrollButton {
  background: none;
  border: none;
  border-radius: 3.5em;
  padding: 1em 1.1em;
  cursor: pointer;
  color: #a1a1aa;
  transition: 0.2s;
}

.scrollButton:hover {
  transition: 0.2s;
  color: #6f49c6;
}
