.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin: 5em 0;
}

.App h1 {
  color: #fff;
  font-weight: 900;
  font-size: 3em;
}

.App h1 span {
  font-weight: 900;
  background: linear-gradient(89.86deg, #9572fc, #43e7ad, #e1d55d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gameBanners {
  margin: 4em 0 3em 0;
  display: flex;
  gap: 1.5em;
}
