* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body,
html,
#root {
  background: url("./assets/img/Fundo.png") no-repeat;
  background-size: cover;
  background-color: #121214;
}
